<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.9.2" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.17" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="17.2.0.51" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Buttons" version="17.2.0.51" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="17.2.0.51" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.GridCommon" version="17.2.0.51" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfCalendar" version="17.2.0.51" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfComboBox" version="17.2.0.51" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfDataGrid" version="17.2.0.51" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="17.2.0.51" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfRangeSlider" version="17.2.0.51" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfRating" version="17.2.0.51" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.2.0.815419" targetFramework="net472" />
</packages>