<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.10.1" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net472" />
  <package id="SkiaSharp.Extended" version="1.60.0" targetFramework="net472" />
  <package id="SkiaSharp.Svg" version="1.60.0" targetFramework="net472" />
  <package id="SkiaSharp.Views.Forms" version="1.68.0" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Buttons" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.GridCommon" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfAutoComplete" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfCalendar" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfComboBox" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfDataForm" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfDataGrid" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfMaskedEdit" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfRangeSlider" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfRating" version="17.3.0.21" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfRotator" version="17.3.0.21" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.6.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.3.0.947036" targetFramework="net472" />
</packages>